body {
    /* background-color: lightblue; */
    background-color: white;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

p {
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

li {
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

input {
    color: black;
    font-weight: 500;
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

.class-for-index {
    color: black;
    font-weight: 700;
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

.class-for-page {
    color: black;
    font-weight: 700;
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", "Times New Roman";
}

div {
    width: 500px;
    border-radius: 25px;
    background: #fc7a2d;
    padding: 20px;
    width: 200px;
    height: fit-content;
}